# Version control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
.env.local
.env.development
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo
.cursor/

# Testing
tests/
.coverage
htmlcov/



scripts/
app/scripts/
node_modules